[Desktop Entry]
Name=Bubble Chains
GenericName=Arcade-puzzle 2D game
Comment=Seek for chains of bubbles of the same color
Exec=chains
Icon=chains.png
Type=Application
Categories=Game;LogicGame;
